In [1]:
a = "Hello"
print(a)

Hello

In [2]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [3]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# Looping Through a String

In [4]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [5]:
#The len() function returns the length of a string:

a = "Hello, World!"
print(len(a))

13

In [6]:
#Check String
#To check if a certain phrase or character is present in a string, we can use the keyword in.

txt = "The best things in life are free!"
print("free" in txt)

True

In [7]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")
else:
    print("No match")

Yes, 'free' is present.

# String Concatenation
To concatenate, or combine, two strings you can use the + operator.

In [8]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [9]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# capitalize()	Converts the first character to upper case

In [10]:
a = "hello friend"
a=a.capitalize() #only first letter 
print(a)

Hello friend

# casefold()	Converts string into lower case

In [11]:
a = "heLLo"
a=a.casefold()
print(a)

hello

# upper()	Converts a string into upper case

In [12]:
a = "heLLo"
a=a.upper()
print(a)

HELLO

# count()	Returns the number of times a specified value occurs in a string

In [13]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [14]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

# endswith()	Returns true if the string ends with the specified value

In [15]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [16]:
#Check if position 5 to 11 ends with the phrase "my world.":

txt = "Hello, welcome to my world."

x = txt.endswith("my world.", 5, 11)

print(x)

False

# index()	Searches the string for a specified value and returns the position of where it was found

In [17]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [18]:
txt = "Hello, welcome to my world."

x = txt.index("e")

print(x)

1

In [19]:
txt = "Hello, welcome to my world."

x = txt.index("e", 5, 10)

print(x)

8

In [20]:
#If the value is not found, the find() method returns -1,
#but the index() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

# isalnum()	Returns True if all characters in the string are alphanumeric

In [21]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

# Python String isalpha() Method

In [22]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [23]:
txt = "Company10"

x = txt.isalpha()

print(x)

False

# Python String isdecimal() Method

In [24]:
txt = "\u0033" #unicode for 3

x = txt.isdecimal()

print(x)

True

In [25]:
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

# isdigit()	Returns True if all characters in the string are digits

In [26]:
txt = "50800"

x = txt.isdigit()

print(x)

True

In [27]:
txt = "5ABC800"

x = txt.isdigit()

print(x)

False

# islower()	Returns True if all characters in the string are lower case
# isupper()	Returns True if all characters in the string are upper case

In [28]:
a="gopi"
print(a.islower())

True

In [29]:
a="gopi"
print(a.isupper())

False

# swapcase()	Swaps cases, lower case becomes upper case and vice versa

In [30]:
a="gOpI"
print(a.swapcase())

GoPi

# title()	Converts the first character of each word to upper case

In [31]:
a="gopi  krishna is a bad prorammer"
print(a.title()) 
# where if a space is there ,a capital letter for the first one in word.

Gopi  Krishna Is A Bad Prorammer

# replace()	Returns a string where a specified value is replaced with a specified value

In [32]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [33]:
#Replace all occurrence of the word "one":

txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

In [34]:
#Replace the two first occurrence of the word "one":

txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

# String startswith() Method

In [35]:
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [36]:
#Check if position 7 to 20 starts with the characters "wel":

txt = "Hello, welcome to my world."

x = txt.startswith("wel", 7, 20)

print(x)

True